$color-green: #0F6F72
$color-landingBg: #0F1112


html, body, main
  background-color: $color-landingBg
  scroll-behavior: smooth

html, body, *:not(.raw-HTML)
  font-family: 'Montserrat', sans-serif

button
  position: relative
  overflow: hidden
  transform: translate3d(0, 0, 0)
  cursor: pointer

  &:disabled:after
    background-image: none !important

  &:after
    content: ""
    display: block
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    pointer-events: none
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%)
    background-repeat: no-repeat
    background-position: 50%
    transform: scale(10, 10)
    opacity: 0
    transition: transform 0.5s, opacity 1s

  &:active:after
    transform: scale(0, 0)
    opacity: 0.2
    transition: 0s

b
  font-weight: 600

em
  font-style: italic

button
  cursor: pointer

.centered
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 24px

.screenViewContentMaxWidth
  max-width: calc(100vw - 256px) !important


.relative
  position: relative

.flex
  display: flex

.justify-center
  justify-content: center

.justify-between
  justify-content: space-between

.flex-col, .col
  flex-direction: column

.align-center
  align-items: center

.gap-8px
  gap: 8px

.gap-16px
  gap: 16px

.gap-32px
  gap: 32px

.gap-64px
  gap: 64px

.gap-72px
  gap: 72px

.gap-96px
  gap: 96px

.full-w
  width: 100%

.intro_sub
  background: linear-gradient(180deg, #FFD390 0%, #0F6F72 100%)
  background-clip: text
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  font-size: 18px
  font-style: normal
  font-weight: 500
  line-height: normal
  text-transform: uppercase
  margin-bottom: 20px

.opacity-05
  opacity: 0.5

.blackLinearBg
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(15, 111, 114, 0.075) 48.96%, rgba(0, 0, 0, 1) 100%)
  background-blend-mode: soft-light
  z-index: -3000

@media (max-width: 1024px)
  #faq
    height: unset !important
  .screenViewContentMaxWidth
    width: 100%
    max-width: 100% !important
    margin-bottom: 16px
  #visualizations .screenViewContentMaxWidth
    max-width: calc(100vw - 256px) !important
  .screenViewContentMaxWidth > svg
    height: fit-content

@media (max-width: 768px)
  #visualizations .screenViewContentMaxWidth
    max-width: 90vw !important
