$color-green: #0F6F72
$color-landingBg: #0F1112

html, body, main
  background-color: $color-landingBg

*:not(.raw-HTML)
  font-family: 'Montserrat', sans-serif

html
  scroll-behavior: smooth

.centered
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 24px

b
  font-weight: 600

em
  font-style: italic

button
  cursor: pointer

.screenViewContentMaxWidth
  max-width: calc(100vw - 256px) !important

.relative
  position: relative

.flex
  display: flex

.justify-center
  justify-content: center

.justify-between
  justify-content: space-between

.flex-col, .col
  flex-direction: column

.align-center
  align-items: center

.gap-8px
  gap: 8px

.gap-16px
  gap: 16px

.gap-32px
  gap: 32px

.gap-64px
  gap: 64px

.gap-72px
  gap: 72px

.gap-96px
  gap: 96px

.full-w
  width: 100%
