.feature
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  gap: 44px

.feature_shortTitle
  text-align: center
  font-size: 14px
  font-weight: 500
  padding-inline: 12px
  padding-block: 5px
  border-radius: 80px
  border: 1px solid #3F3F3F
  background: linear-gradient(180deg, #4C596B 0%, rgba(15, 111, 114, 0.00) 100%)

.feature_title
  font-size: 36px
  font-weight: 500
  line-height: 120%
  letter-spacing: -0.72px
  background: linear-gradient(179deg, #FFF 0.64%, rgba(255, 255, 255, 0.38) 105.75%)
  background-clip: text
  text-align: center
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  white-space: pre-wrap

.feature_description
  color: #AAABC2
  text-align: center
  font-size: 18px
  font-weight: 400
  white-space: pre-wrap

em.feature_description > b
  color: #AAABC2

.feature_description_replaces
  font-weight: bold

.feature_callToActionButton
  color: var(--el-on-background-strong, #FFF)
  font-size: 24px
  font-weight: 600
  line-height: 24px
  border-radius: 8px
  border: 1px solid var(--border-lighter, rgba(255, 255, 255, 0.14))
  background: #111F28
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.10) inset
  padding-inline: 32px
  padding-block: 16px

@media (max-width: 768px)
  .feature_title
    font-size: 24px
    text-transform: unset

@media (max-width: 425px)
  .feature
    gap: 24px