.rhombusButton
  width: 48px
  height: 48px
  transform: rotate(-45deg)
  border-width: 2px
  border-style: solid
  border-image-slice: 1
  border-image-source: linear-gradient(180deg, #FFD390 0%, #0F6F72 50%, rgba(0, 0, 0, 0) 100%)
  background-color: transparent
  cursor: pointer
  border-bottom: 0

.magnetic
  margin: -100px
  padding: 100px
  display: inline-block
  border-radius: 50%
  transition: 1s ease-in-out box-shadow

.myButton
  cursor: pointer
  box-shadow: 0px 2px 25px #00000000
  transition: 0.5s box-shadow
  animation: pulse 2s infinite

.magnetic_titleArea
  margin-top: 0px
  margin-left: 42px
  text-transform: uppercase

.magnetic_titleArea_subTitle
  color: rgba(255, 255, 255, 0.42)
  font-size: 14px
  font-weight: 500
  line-height: 100%
  letter-spacing: 0.182px

.magnetic_titleArea_title
  color: #FAFAFA
  font-family: Chakra Petch
  font-size: 24px
  font-style: normal
  font-weight: 400
  line-height: 100%
  letter-spacing: 0.312px

.rhombusButton_icon
  background: linear-gradient(to right, #ffd390, #0F6F72)
  background-size: 200% 200%
  animation: rainbow 2s ease-in-out infinite
  background-clip: text
  -webkit-background-clip: text
  color: white
  font-size: 20px
  display: block
  text-align: center
  transform: rotate(-45deg)
  transition: color 2s
  text-transform: uppercase
  margin-right: 4px

.magnetic:hover
  .rhombusButton_icon
    color: rgba(0,0,0,0)
  .myButton
    transition: 2s linear
    box-shadow: 0px 2px 10px #ffd39013
    animation: none !important

.myButton:hover
  box-shadow: 0px 0px 15px #ffd3908a !important
  animation: none !important
  .rhombusButton_icon
    color: white !important

.rhombusButton_icon:hover
  color: white !important

@keyframes rainbow
  0%
    background-position: left
  50%
    background-position: right
  100%
    background-position: left

@keyframes pulse
  0%
    box-shadow: 0 0 0 0 rgba(255, 211, 144, 0.4)
  70%
    box-shadow: 0 0 0 10px rgba(204,169,44, 0)
  100%
    box-shadow: 0 0 0 0 rgba(204,169,44, 0)