.container
  display: flex
  justify-content: space-between
  align-items: center
  gap: 64px

.blackLinearBg
  transform: rotate(180deg)

@media (max-width: 768px)
  .container
    gap: 24px

@media (max-width: 425px)
  .container
    flex-direction: column
  .container svg
    max-height: 200px
    width: inherit